// FOOTER
footer.page-footer.cyan
  .container.white-text.valign
    .row
      .col.l3.m3
        center
          a.grey-text.text-lighten-3(href='https://twitter.com/MapOurTours')
            img(style='width:32px; height:32px;', src='/images/twitter.png')
      .col.l3.m3
        center
          a.grey-text.text-lighten-3(href='https://facebook.com/MapOurTours')
            img(style='width:32px; height:32px;', src='/images/fb.png')
      .col.l3.m3
        center
          a.grey-text.text-lighten-3(href='https://instagram.com/mapourtours/')
            img(style='width:32px; height:32px;', src='/images/insta.png')
      .col.l3.m3
        center
          a.grey-text.text-lighten-3(href='https://github.com/reesespieces/gwcfinal2')
            img.circle.responsive-img(style='width:32px; height:32px;', src='/images/gitCat.jpg')
  .footer-copyright
    .container
      | © 2015 Copyright MapOurTours
      a.grey-text.text-lighten-4.right(href='/') Home
