doctype html
html
  head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    title MapOurTours
    // Our created js and css files
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='/javascripts/home.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/search.css')
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js')
    style.
      .parallax-container {
      height: "90px";
      }
    script.
      $(document).ready(function(){
      $('.parallax').parallax();
      });
  body
    // CREATING NAV BAR
    nav
      .nav-wrapper.cyan
        a(href='/home2', style='padding-left:30px;')
          img.circle.responsive-img(src='images/finalprojecticon1.png', alt='backpack', style='height:60px; width:60px;')
        a.brand-logo(href='/', style='padding-left:30px;') MapOurTours
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href='/search') Log In
    .parallax-container
      .parallax
        img(src='images/campus2.jpg')
      // MISSION STATEMENT
      p.center.flow-text.white-text(style='text-shadow: 2px 2px 8px #000;')
        b Simplifying the process of planning a college visit
    // SIGN UP
    br
    .center
      a.waves-effect.waves-light.btn(href='/register') Sign Up
    .container
      .section
        // Icon Section
        .row
          .col.s12.m4
            .icon-block
              // FIRST THIRD OF THE PAGE, THE PROBLEM
              h5.center Find Your College
              p.light
                | MapOurTours provides an easy, accessible way to search for the
                | colleges you want to visit.  Simply serach our map by location or college name
                | to find the college that is the perfect match for you.  From there it is one easy
                | step to book available campus tours.  Book more than one tour and add them to your
                | schedule to keep track of all your busy college visits.
          // SECOND THIRD, THE SOLUTION
          .col.s12.m4
            .icon-block
              h5.center Why MapOurTours?
              p.light
                | MapOurTours is designed to improve the process of scheduling and
                | booking college tours by putting all the necessary information in one
                | place.  After signing up a user has the capability of booking any college campus
                | tour. MapOurTours saves user's information necessary for booking a campus tour; this
                | way the user does not have to re-enter their information every time they want to book
                | a tour.
                | The search map keeps it easy to see what colleges are near you or near the area you are
                | visiting.  This
                | feature will give users the ability to schedule college tours with
                | colleges that they hadn’t planned on visiting prior to visiting our
                | website.  MapOurTours keeps the college tour booking process a simple, accessible, and
                | enjoyable experience so students can get the most out of their visits.
          // ABOUT US
          .col.s12.m4
            .icon-block
              h5.center About Us
              p.light
                | MapOurTours was created and designed by high school students Hannah Lerner,
                | Maddie Comtois, Maddie Dick, and Nora Mitchell.
              p.light
                b Hannah Lerner, MASSACHUSETTS
              p.light
                b Maddie Comtois, TEXAS
              p.light
                b Maddie Dick, CONNECTICUT
              p.light
                b Nora Mitchell, NEW YORK
    center
      img(src='/images/icon3.png')
    br
    br
  // FOOTER
  footer.page-footer.cyan
    .container.white-text.valign
      .row
        .col.l3.m3
          center
            a.grey-text.text-lighten-3(href='https://twitter.com/MapYourTour')
              img(style='width:32px; height:32px;', src='/images/twitter.png')
        .col.l3.m3
          center
            a.grey-text.text-lighten-3(href='/')
              img(style='width:32px; height:32px;', src='/images/fb.png')
        .col.l3.m3
          center
            a.grey-text.text-lighten-3(href='https://instagram.com/mapourtours/')
              img(style='width:32px; height:32px;', src='/images/insta.png')
        .col.l3.m3
          center
            a.grey-text.text-lighten-3(href='/')
              img(style='width:32px; height:32px;', src='/images/google.png')
    .footer-copyright
      .container
        | © 2015 Copyright MapOurTours
        a.grey-text.text-lighten-4.right(href='/home2') Home
